[project]
name = "alien-invasion"
version = "0.1.0"
description = "alien invation game"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pygame>=2.6.1",
]

[dependency-groups]
auto = [
    "tox>=4.27.0",
    "tox-uv>=1.26.1",
]
build = [
    "nuitka>=2.8.4",
]
lint = [
    "isort>=6.0.1",
    "ruff==0.14.10",
]
prod = [
    "pygame>=2.6.1",
]
type = [
    "mypy>=1.16.1",
]

[tool.isort]
known_third_party = ["pygame"]
src_paths = ["alien_invasion/game"]
profile = "black"

[tool.ruff]
line-length = 120

[tool.ruff.lint.isort]
known-first-party = ["game"]

[tool.ruff.lint]
preview = true
select = [
    "ALL"
]
ignore = [
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D107",
    "D203",
    "D212",
    "D213",
    "D417",
    "C901",      # too-complex
    "CPY001",
    "FIX002",
    "PLR0912",   # too-many-branches
    "PLR0913",   # too-many-arguments
    "PLR0915",   # too-many-statements
    "PLR2004",   # magic-values (fix)
    "TD002",
    "TD003",

]

[tool.mypy]
disallow_untyped_defs = true
mypy_path = "./alien_invasion"
exclude = [
    ".*\\.onefile-build.*",
    ".*\\.build.*",
]

[tool.tox]
requires = ["tox>=4.19"]
env_list = ["3.13", "lint", "type"]

[tool.tox.env.lint]
runner = "uv-venv-lock-runner"
description = "run isort and ruff"
dependency_groups = ["lint"]
commands = [["isort", "."], ["ruff", "check"]]

[tool.tox.env.type]
runner = "uv-venv-lock-runner"
description = "run mypy"
dependency_groups = ["type"]
commands = [["mypy", ".", "--explicit-package-bases"]]

[tool.ruff.lint.pylint]
max-positional-args = 10
